<button (click)='loadData()'>Load data...</button>

<br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae earum debitis porro nesciunt. Voluptate ad pariatur
dolor accusamus voluptatem nulla magnam assumenda dignissimos corrupti, eum fugit quo nemo eius magni.
<h1>Hello</h1>
<button #anchor (click)='stamp($event)'>Stamp...</button>
<!-- <div #container></div> -->
Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, rerum neque amet recusandae, cum tenetur quaerat consequatur
totam nam quae ducimus impedit suscipit vitae ut temporibus quam eligendi saepe fugit.

<!-- <ng-template #test>
  <p>The content of this template is captured by the portal.</p>
</ng-template> -->

<ng-template #testTemplate let-name let-coords>
  <app-well [coords]="coords">
    <div>User {{ name }} </div>
    <p>
      ipsum dolor sit amet consectetur adipisicing elit. Repellat, rerum neque amet recusandae, cum tenetur quaer
    </p>
  </app-well>

</ng-template>`